﻿.output1
{
	font-family:Segoe UI, Verdana, Tahoma, Arial;
	font-size: 10pt;
	color: #333333;
	padding-left: 3px;
	padding-top: 5px;
	border: 1px solid #D6D2D3;
	/*width: 215px;*/
	background: #fff;
    
}
.output2
{
	font-family:Segoe UI, Verdana, Tahoma, Arial;
	font-size: 10pt;
	color: #333333;
	padding-left: 3px;
	padding-top: 5px;
	border: 1px solid #D6D2D3;
	/*width: 215px;*/
	background: #fff;
}
.output3
{
	font-family:Segoe UI, Verdana, Tahoma, Arial;
	font-size: 10pt;
	color: #333333;
	padding-left: 3px;
	padding-top: 5px;
	border: 1px solid #D6D2D3;
	/*width: 215px;*/
	background: #fff;
}
.shadow1
{
	/*width:220px;*/
	/*position:absolute;*/
	top: 2px;
	left: 2px;
	background: #f5f5f5;
    /*opacity: 0.8;*/
}
.shadow2
{
	/*width:220px;*/
	/*position:absolute;*/
	top: 2px;
	left: 2px;
	background: #f5f5f5;
    /*opacity: 0.8;*/
}
.shadow3
{
	/*width:220px;*/
	/*position:absolute;*/
	top: 2px;
	left: 2px;
	background: #f5f5f5;
    opacity: 1;
}
.shadow div{
	position:relative;
	top: -2px;
	left: -2px
}

.shadow2 div{
	position:relative;
	top: -2px;
	left: -2px
}
.shadow3 div{
	position:relative;
	top: -2px;
	left: -2px
}