.login-content
{
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 0px;
}
.hero-unit-gray
{
	background-color: #f5f5f5;
	padding: 30px;
	line-height: 20px;
}
.register-content
{
	padding: 20px;
}

span.asterisk
{
	color: #FF0000;
	text-align: center;
	vertical-align: top;
	padding-left: 2px;
	font-size: 20px;
	font-weight: bold;
	vertical-align: baseline;
	margin-right: 2px;
}

.navlist
{
	margin-bottom:0px;
	margin-left:0;
	list-style:none;
}
.navlist>li>a
{
	display:block;
	/*line-height: 32px;*/
	/*padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;*/
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
	color:Black;
}
.navlist>li>a:hover,.navlist>li>a:focus
{
	text-decoration:none;
	background-color:#eee;
	cursor:pointer;
}
.navlist>li>a>img
{
	max-width:none;
}
.navlist>.pull-right
{
	float:right;
}


.modal-body {
	max-height: 850px !important;
}

#modalShareBody {
    /*height:400px;*/
    top:0;
    left:0;
    right:0;
    bottom:0;
	padding: 0px;
	/*padding-left: 10px;*/
	/*border: 1px solid #f5f5f5;*/
}

#panelGuest{
    position: relative;
    /*width: 35%;*/
	width: 100%;
    float:left;
    /*border-right:solid #ff920a 2px;*/
    min-height:100px;
    height: 100%;
    overflow: auto;
}

#panelDetail{
    float:left;
    width:100%;
    min-height:100px;
    height: 100%;
    overflow: auto;
    *zoom:1;
}

#modalShareBody2 {
    /*height:400px;*/
    top:0;
    left:0;
    right:0;
    bottom:0;
	padding: 0px;
	/*padding-left: 10px;*/
	/*border: 1px solid #f5f5f5;*/
}

#panelGuest2{
    position: relative;
    /*width: 35%;*/
	width: 100%;
    float:left;
    /*border-right:solid #ff920a 2px;*/
    min-height:100px;
    height: 100%;
    overflow: auto;
}

#panelDetail2{
    float:left;
    width:100%;
    min-height:100px;
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.border-right-dashed
{
	border-right: 1px;
	border-right-style: dashed;
	border-right-color: gray;
}


.text-bold
{
	font-weight: bold;
}

.hero-unit-borderbottom
{
	padding-bottom: 30px;
	padding-top: 30px;
	line-height: 20px;
	border-bottom: 1px solid #e1e1e1;
}

.hero-unit-borderbottom-nopadding-top
{
	padding-bottom: 30px;
	line-height: 20px;
	border-bottom: 1px solid #e1e1e1;
}

.hero-unit-noborder
{
	padding-bottom: 30px;
	padding-top: 30px;
	line-height: 20px;
}

.hero-unit-bordertop
{
	padding-bottom: 30px;
	padding-top: 30px;
	line-height: 20px;
	border-top: 1px solid #e1e1e1;
}

.hero-unit-paddingside
{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 20px;
}

.hero-unit-paddingbottom
{
	padding-bottom: 30px;
	line-height: 20px;
}

.hero-unit-paddingtop
{
	padding-top: 30px;
	line-height: 20px;
}

.hero-unit-top-border-dash
{
	padding-bottom: 30px;
	padding-top: 30px;
	line-height: 20px;
	border-top: 1px dashed #e1e1e1;
}

.hero-unit-padding-left-88
{
	padding-left: 88px;
	padding-right: 30px;
	line-height: 20px;
}

.hero-unit-white-border-dashed
{
	background-color: #fff;
	padding: 30px;
	line-height: 20px;
	border: 1px dashed #e0e0e0;
}

.hero-unit-gray-detail
{
	background-color: #f5f5f5;
	line-height: 20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.SecondSearch-padding-bottom
{
	padding-bottom: 20px;
}

.well-search-detail
{
	line-height: 20px;
}

#chkMatchAllItems
{
	min-width: 30px !important;
	margin: 0px;
}

#chkExactMatch
{
	min-width: 30px !important;
	margin: 0px;
}

.nav-stacked2>li>a 
{
	margin-right: 0;
	padding: 7px;
}

.table2
{
	width: 100%;
	margin-bottom: 20px;
}

.table2 th, .table2 td
{
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}

.table-bordered
{
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-left: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.accordion
{
	margin-bottom: 0px;
}

.accordion-group
{
	margin-bottom: 2px;
	border: 0px solid #e5e5e5;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.accordion-heading .accordion-toggle
{
	display: block;
	padding: 8px 15px;
	border-bottom: 0px solid #e5e5e5;
}

.accordion-inner
{
	padding: 9px 11px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 0px solid #e5e5e5;
}

.no-dashboard
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.panel-group
{
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.panel-search-details-bordertop
{
	padding-top: 30px;
	line-height: 20px;
	border-top: 1px solid #e1e1e1;
}

.note
{
	font-size: 11px;
	font-style: italic;
	margin-bottom: 15px;
	color: #777;
	cursor: text;
}

.affix {
  /*width: 263px;*/
  width: 369px;
  position: fixed;
  top: 20px;
}
.affix-bottom {
  /*width: 263px;*/
  width: 369px;
  position: absolute;
  top: auto;
  bottom: 200px;
}
.affix-top {
  
}


.fileupload
{
	/*margin-bottom: 15px;*/
}

.thumbnail
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.fileupload-border
{
	line-height: 14px !important;
	border: 1px solid #ddd;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 5px;
	padding-right: 7px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

textarea
{
	webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	resize: none;
}

.text-italic
{
	font-style: italic;
}

.text-gray
{
	color: #bbb;
}

.table-hover2 tbody tr:hover > td,
.table-hover2 tbody tr:hover > th {
	background-color: #EBEBEB;
}

.table3
{
	width: 100%;
}

.table3 th, .table3 td
{
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}

.table4
{
	width: 100%;
}

.table4 th, .table4 td
{
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
}

.table4 td span
{
	color: #333333;
}


.nav-list2
{
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
}

.nav-list2 >li >a, .nav-list2 .nav-header2
{
	margin-right: -15px;
	margin-left: -15px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.nav-list2 >li >a
{
	padding: 7px 15px;
	border-top: 1px solid #eee;
}

.nav-header2
{
	display: block;
	padding: 7px 15px;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	color: #999;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	text-transform: uppercase;
}

.table5
{
	margin-bottom: 20px;
}

.table5 th, .table5 td
{
	padding: 5px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	width: 100%;
}


/*---- Datepicker ----*/
.input-append .add-on {
margin-left: -28px;
}

.input-append .add-on {
position: absolute;
}
.input-append .add-on
{
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.input-textbox-datepicker
{
	/*max-width: 68.5%;*/
}
/*---- end of datepicker ----*/


/*---- Submenu ----*/
.submenustyle
{
	padding: 2px 1px;
	border-top-width: 0;
	width: auto;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	padding-top: 14px;
	margin-top: 2px;
	line-height: 20px;
	position: absolute;
}

* html .submenustyle{ /*IE only width definition*/
width: 100%;
}

.submenustyle a
{
	padding: 3px 10px 0;
	text-decoration: none;
	color: black;
	text-shadow: none;
	border-left: 1px solid black;
}

.submenustyle span
{
	padding: 3px 10px 0;
	text-decoration: none;
	color: black;
	text-shadow: none;
	border-left: 1px solid black;
}

.submenustyle a:hover
{
	border-bottom: 1px solid #f7941d;
}
/*---- end od submenu ----*/

.well
{
    padding: 40px; 
       
    
}

.well3
{
	/*min-height:20px;
	/*padding:19px;*/
	padding:17px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	height: 191px;
    margin-right: 19px;
}

.well4
{
	/*min-height:20px;
	/*padding:19px;*/
	padding:17px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	height: 191px;
    margin-left: -33px;
    margin-right: 21px;
}

.well5
{
	/*min-height:20px;
	/*padding:19px;*/
	padding:17px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	height: 191px;
	width 176px;
	margin-left: -34px;

}

h5 
{
  color: #08c;   
  margin-top: -16px;
}

h4
{
    margin-top:-1px;
}

