﻿/* menu */
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;


}
.bodybg
{
	background-color:#F3F3F3;
}
body .viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

body .viewport .frame {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0; 
}

body .viewport .frame .navbar .navbar-inner {
  border-radius: 0;
  padding-left: 5px; 
}

body .viewport .frame .menu {
  height: 100%;
  /* background-color: #3D6AA2; */ 
}

body .viewport .frame .menu.collapse {
  float: left;
  height: 100% !important;
  width: auto; 
}

body .viewport .frame .menu.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.01s ease;
  -moz-transition: height 0.01s ease;
  -o-transition: height 0.01s ease;
  transition: height 0.01s ease; 

}

body .viewport .frame .menu.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.01s ease;
  -moz-transition: width 0.01s ease;
  -o-transition: width 0.01s ease;
  transition: width 0.01s ease; 

}

body .viewport .frame .menu.collapse.in.width {
  width: auto; 
}

body .viewport .frame .menu.collapse.in.height {
  height: auto; 
}

body .viewport .frame .menu .collapse-inner {
  position: relative;
  width: 250px;
  height: 100%; 
}

body .viewport .frame .menu .navbar .navbar-inner {
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 38px;
  text-shadow: -1px -1px #000000;  
}

body .viewport .frame .menu .nav-stacked {
  padding: 0 10px; 
}

body .viewport .frame .view {
  width: 50%;
  height: 100%;
  overflow: hidden; 
}

body .viewport .frame .view .navbar .navbar-inner .btn-navbar {
  display: block;
  float: left; 
}

body .viewport .frame .view #content {
  margin: auto 15px;
  text-align: justify; 
}

#menu
{
     background-color: #68217A;   

}

#menu ul li
{
    line-height: 0;
   
}

#menu ul li a
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D64BFA;
    color: #FFFFFF;
    text-shadow: -1px -1px #000000;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
     font-weight: normal;
     
    -moz-border-radius: 0  !important;
    -webkit-border-radius: 0  !important;
    -khtml-border-radius: 0  !important;
    border-radius: 0 !important;
}

#menu ul li a:hover
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D64BFA;
    /*color: #FF9F5F;*/
    text-shadow: -1px -1px #000000;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
     font-weight: normal;
     background-color: #D64BFA;
     
    -moz-border-radius: 0  !important;
    -webkit-border-radius: 0  !important;
    -khtml-border-radius: 0  !important;
    border-radius: 0 !important;
}

.mobileheader
{
    width: 100%;
    text-align: center;
      color: #FFFFFF;
  font-size: 16px;
  line-height: 38px;
  text-shadow: -1px -1px #000000;  
}
/* end menu */

#centertop
{
    padding: 12px 0px 12px 0px;
}

#centerbody
{
    padding: 20px 5px 5px 5px;
}

#topholder
{
    padding: 7px 0px 7px 0px;
	/*padding-bottom:50px;*/
	padding-bottom: 30px;
}

#menuholder
{
    padding: 0px 0px 7px 0px;
}

#menuitemholder
{
    /*background-color: #092869;*/
}

.titleholder
{
	/*margin-top:10px;*/
	height:30px;
	
	margin-top:30px;
	
	padding-left: 5px;
}

.titleholderbg
{
	/*background-color:#808080;*/
}

.titleheader
{
	font-size: 18px;
	/*padding-left: 5px;*/
	
	/*color: white;*/
	color: #333333;
	font-weight: bold;
}

.listheader
{
	padding-left:30px;
	padding-top:5px;
	padding-bottom:5px;
	
	padding-right: 30px;
}

#standardfooter
{
    border-top: 1px dotted #808080;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #666666;
}

.widgetbox
{
    padding: 5px 5px 5px 5px;
}

.widgetboxbg
{
    background-color: #EFEFEF;
	
}

.listheaderbg
{
	background-color: #DBD7EB;
}

.widgetheader
{
    padding: 3px 10px 3px 5px;
}

.widgetheader span
{
    font-size: 18px;
    /*text-shadow: 1px 1px #CFCFCF;*/
}

.widgetcontent
{
    padding: 5px 10px 5px 10px;
}

.widgetcontentborder
{
    padding: 5px 5px 5px 5px;
    border: 1px solid #EFEFEF;
}

.innerwidebox
{
        padding: 0px 24px 0px 24px;
}

.meterholder
{
    color: #FFFFFF;
    font-size: 16px;
}

.meterholder table
{
    background-color: #00012E;
}

.meterholder table tr td
{
    padding: 6px 6px 6px 6px;
    text-shadow: -1px -1px #000269;
}

.mh_default
{
    display: none;
}

.mh_info
{
    display: block;
    padding: 5px 5px 5px 5px;
    background-color: #E8E8FF;
    margin-bottom: 10px;
}

.mh_info span
{
    font-weight: bold;
    color: #0000C9;
    text-shadow: 1px 1px #C2C2FF;
    font-size: 12px;
}

.mh_info div span
{
    font-weight: normal;
    color: #333333;
    font-size: 11px;
    text-shadow: none;
    margin-left: 10px;
}

.mh_error
{
    display: block;
    padding: 5px 5px 5px 5px;
    background-color: #FFE0E0;
    margin-bottom: 10px;
}

.mh_error span
{
    font-weight: bold;
    color: #FF0000;
    text-shadow: 1px 1px #FFB8B8;
    font-size: 12px;
}

.mh_error div span
{
    font-weight: normal;
    color: #333333;
    font-size: 11px;
    text-shadow: none;
    margin-left: 10px;
}

.mh_stop
{
    display: block;
    padding: 5px 5px 5px 5px;
    background-color: #FFEBDB;
    margin-bottom: 10px;
}

.mh_stop span
{
    font-weight: bold;
    color: #AD4E00;
    text-shadow: 1px 1px #FFDFC4;
    font-size: 12px;
}

.mh_stop div span
{
    font-weight: normal;
    color: #333333;
    font-size: 11px;
    text-shadow: none;
    margin-left: 10px;
}
.left-right
{
	 /* fallback */ background-color: #1a82f7; background-image: url(images/linear_bg_1.png); background-repeat: repeat-y;
	 /* Safari 4-5, Chrome 1-9 */ 
	 background: -webkit-gradient(linear, left top, right top, from(#cccccc), to(#F3F3F3)); 
	 /* Safari 5.1, Chrome 10+ */
	 background: -webkit-linear-gradient(left, #cccccc, #F3F3F3);
	 /* Firefox 3.6+ */
	background: -moz-linear-gradient(left, #cccccc, #F3F3F3);
	/* IE 10 */
	background: -ms-linear-gradient(left, #cccccc, #F3F3F3);
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(left, #cccccc, #F3F3F3);
}
.well2
{
	min-height:20px;
	/*padding:19px;*/
	padding: 15px;
	margin-bottom:20px;
	background-color:#ffffff;
	border:1px solid #e3e3e3;

}