﻿body 
{
    font-family: Segoe UI, Verdana, Tahoma, Arial;
    font-size: 12px;
    color: #333333;
    text-align: justify;
}

input
{
    font-family:  Segoe UI, Verdana, Tahoma, Arial;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
    min-width: 100px;
    -moz-border-radius: 0  !important;
    -webkit-border-radius: 0  !important;
    -khtml-border-radius: 0  !important;
    border-radius: 0 !important;
}

select
{
    font-family:  Segoe UI, Verdana, Tahoma, Arial;
    font-size: 13px;
    padding: 5px 3px 5px 5px !important;
    min-width: inherit;
    -moz-border-radius: 0  !important;
    -webkit-border-radius: 0  !important;
    -khtml-border-radius: 0  !important;
    border-radius: 0 !important;
}

p
{
    text-align: justify;
}

ul li
{
    text-align: justify;
}

input[type=button]
{
    min-width: 100px;    
}

input[type=submit]
{
    min-width: 100px;    
}

textarea
{
    font-family: Segoe UI, Verdana, Tahoma, Arial;
    font-size: 12px;
    width: 240px;
    padding: 5px;
    resize: none;
}

.inputgrid
{

}

.inputgrid tr td
{
    vertical-align: top;
    padding: 5px 10px 5px 3px;
    border-bottom: 1px solid #DEDEDE;
}

.datavalues
{
  color: #001466;   
  font-size: 12px;
}

.logintitle1
{
    font-weight: bold;
    font-size: 26px;
    text-shadow: 1px 1px #CFCFCF;
}

.headertitle
{
   
    font-weight: normal;
    font-size: 16px;
   
}
.headertitle1
{
    font-weight: bold;
    font-size: 30px;
    /*text-shadow: 1px 1px #CFCFCF;*/
}

.headertitle2
{
    font-weight: normal;
    font-size: 20px;
    text-shadow: 1px 1px #CFCFCF;
}

.headertitle3
{
    font-weight: normal;
    font-size: 16px;
}

.headertitle4
{
    font-size: 14px;
    font-weight: normal;
}

.headertitle5
{
    font-size: 12px;
    font-weight: normal;
}

.valuedisplay1
{
    color: #444444;
    font-size: 16px;
    font-weight: bold;
}

.valuedisplay2
{
    color: #444444;
    font-size: 16px;
    font-weight: normal;
}

.units1
{
    color: #444444;
    font-size: 14px;
}

.linkbutton1
{
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
	
	color: #000000;
}

.linkbutton2
{
    color: #004b8d;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
	text-decoration:underline;
}

.linkbutton3
{
    color: #1B39E0;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}


.datagrid th
{
    padding: 7px 7px 7px 7px;
    border-bottom:5px solid #68217A;
    color: #68217A;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 1px 1px #CFCFCF;
}

.datagrid td
{
    padding: 10px 10px 3px 10px;
    border-bottom:1px solid #68217A;
    font-size: 12px;
    font-weight: normal;
}

.listitemhover td
{
    background-color: #F5D9FC;
    cursor: pointer;
}

.radiocontainer
{
    width: 24px;
    height: 24px;
    display: table-cell;
    background-image: none;
}

.radiocontaineron
{
    width: 24px;
    height: 24px;
    display: table-cell;
    background-image: url('../resources/images/select24.png');
    background-repeat: no-repeat;
    background-position: center;
}

.standardbutton
{
    padding: 3px 5px 3px 5px;
    min-width: 100px;
    font-size: 13px;
    cursor: pointer;
}
.standardbuttonhover
{
    
}

.menuitemwrapper
{
    margin: 7px 0px 0px 0px;
    
    /*width: 140px;*/
    /*width: 122px;*/
    /*width: 138px;*/
    padding-right: 30px;
	float: left;
	color: White;
}

.menuitemwrapper2
{
	margin: 7px 0px 0px 0px;
    /*width: 190px;*/
    width: 200px;
	float: left;
}

.menuitem
{
    
    text-shadow: -1px -1px #000000;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    padding: 3px 3px 1px 3px;
    font-size: 13px;
}

.menuitemhover
{
    color: #DDDDDD;
    text-shadow: 2px 2px #000000;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    /*border-top:  1px solid #68217A;
    border-left:  1px solid #68217A;
    border-right:  1px solid #68217A;*/
    border-bottom: 1px solid #FFAEBF;
    padding: 3px 3px 1px 3px;
    font-size: 13px;
}

.menuitemselected
{
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    padding: 3px 3px 1px 3px;
    font-size: 14px;
    color: #DDDDDD;
}

.customradioholder
{
    cursor: pointer;
}

.checkboxindicator
{
    padding: 0px 0px 0px 0px;
    display: table-cell;
    height: 12px;
    width: 12px;
    border: 2px inset #EFEFEF;
}

.checkboxindicatoron
{
    /*background-color: #02D93B;*/
    background-image: url('../resources/images/imgcheck.png');
}
.padding-bottom20
{
	padding-bottom: 20px;
}
