﻿#mydiv {
    height: 400px;
    position: relative;
   
}
#loading-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}