﻿/* Layout */
#container-outer,
#container {
	width: 100%;
	overflow: hidden;
	display: block;
	position: relative;
}
#container-inner {
	/*max-width: 880px;*/
	overflow: hidden;
	/*display: block;
	padding: 50px;
	margin: 50px auto;*/
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	background: #ffffff;
}
/* Mobile Menu */
.mobile-header {
	line-height: 100%;
	width: 100%;
	display: block;
	position: relative;
	z-index: 30;
	/*background: #ffffff;*/
	z-index: 9999;
	/*-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);*/
	background-color: #1b1b1b;
	background-repeat: repeat-x;
	border-color: #111;
	background-image: linear-gradient(to bottom,#222,#111);
	height: 52px;
	position: fixed;
}
.mobile-header ul {
	margin: 0px;
	padding: 0px;
	z-index: 30;
	list-style: none;
}
.mobile-header ul li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 30;
	/*width: 25%;*/
	width: auto;
}
.mobile-header ul li a {
	margin: 0px;
	padding: 10px 10px;
	width: auto;
	display: block;
	background: none;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #888888;
	cursor: pointer;
	/*border-right: 1px solid #eeeeee;*/
	text-transform: uppercase;
}
.mobile-header ul li.m-menu a {
	font-weight: 700;
}
.mobile-header ul li a:hover,
.mobile-header ul li.active,
.mobile-header ul li.active a {
	color: #ffffff;
	/*background: #77c043;*/
}
.mobile-header ul li a:hover,
.mobile-header ul li.active a {
	/*border-right: 1px solid #63A832;*/
}
.mobile-header ul li a span.menu-open,
.mobile-header ul li.active a span.menu-close {
	display: inline;
}
.mobile-header ul li.active a span.menu-open,
.mobile-header ul li a span.menu-close {
	display: none;
}
/* Mobile Menu */
.mobile-menu {
	/* background: #222222; */
	margin: 0px;
	padding: 0px 1px;
	width: 243px;
	text-transform: none;
	font-size: 12px;
	position: fixed;
	top: 28px;
	bottom: 0px;
	left: -245px; /* Hides Brief Menu Popup As JavaScript Loads */
	z-index: 9998;
	display: block;
	height: 100%;
	overflow: hidden;
	color: #ffffff;
}
.mobile-menu.active {
	height: auto;
	overflow: visible;
}
.mobile-menu-bg {
	/*background: #222222;
	-webkit-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 1);*/
	
	background: #353535;
	margin: 0px;
	position: fixed;
	width: 245px;
	top: 0px;
	bottom: 0px;
	left: -255px; /* Hides Brief Menu Popup As JavaScript Loads */
	z-index: 9997;
	display: block;
	height: 100%;
}
.mobile-menu.active,
.mobile-menu-bg.active {
	display: block;
}
/* Floats */
.clearfloat:after {
	content: ""; 
	display: table;
	clear: both;
}


/*----------- Mobile bootstrap menu -----------*/
.Mnavbar-inverse {
	
}

.Mnavbar {
	margin-bottom: 10px;
	overflow: visible;
}

.Mnavbar-inverse .Mnavbar-inner {
	background-color: #1b1b1b;
	background-repeat: repeat-x;
	border-color: #111;
	background-image: linear-gradient(to bottom,#222,#111);
	height: 52px;
}

.Mnavbar-inner {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	zoom: 1;
}

.Mnav {
	margin-bottom: 20px;
	margin-left: 0;
	list-style: none;
}

.Mnav-stacked>li {
	float: none;
}

.Mnav-tabs>li {
	
}

.Mnav-tabs>li {
	
}

.Mnav>li>a {
	display: block;
}

.Mnav-tabs>li>a {
	
}

.Mnav-stacked>li>a {
	margin-right: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #d7d7d7;
	cursor: pointer;
	display: block;
	font-size: 12px;
	padding: 8px;
	background: #414141;
	/*background: #303030;*/
	border-top: 1px solid #565656;
	border-bottom: 1px solid #2a2a2a;
	min-height: 21px;
}

.Mnav-stacked>li>a:hover 
{
	text-decoration:none;
}

.mobile-title
{
	margin: 0px;
	padding: 16px 10px 0px 30px;
	width: auto;
	display: block;
	text-align: center;
	font-size: 16px;
	color: white;
}
