﻿
/****************VERSION 2 CSS*********************/

body,html {
    font-family: 'Segoe UI',Segoe,'Segoe WP',Helvetica,Tahoma,Verdana,Arial,sans-serif!important;
    font-weight: 400;
    font-size: 16px;  
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
     user-select: none; 
}

body
{
     background: #eeeeee;      
}

.body.active
{
    overflow: hidden;
}

/*::-webkit-scrollbar:window-inactive {
   /* Select the thumb when the browser window isn't in focus 
   visibility: hidden;
   opacity: 0;
   width: 0px;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
   /* Select the down or left scroll button when it's being hovered by the mouse 
    visibility: visible;    
}*/

div::-webkit-scrollbar-track, select::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 1 0 2px rgba(0,0,0,0.3);
	background-color: #eeeeee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

div::-webkit-scrollbar, select::-webkit-scrollbar
{
	background-color: #F5F5F5;
	width: 8px;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}

div::-webkit-scrollbar-thumb, select::-webkit-scrollbar-thumb
{
	background-color: #9E9E9E;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}



/***Checkbox Controls***/
.checkbox-group {
    position:relative;
    padding-left: 10px;
}
 
/* Hide Checkbox Input */
.checkbox-group input[type=checkbox] {
    display:none;
}
 
/* Style Label */
.checkbox-group label {
    padding-left:30px;
    cursor:pointer;
    font-weight: 400!important;
}
 
/* Style span tag */
.checkbox-group label span {
    display:block;
    position:absolute;
    left:12px;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    transition-duration:.3s
}
/* Style box */
.checkbox-group label .box {
    background:#d9e1e7;
    height:20px;
    width:20px;
    z-index:9;
    -webkit-transition-delay:.2s;
    -moz-transition-delay:.2s;
    transition-delay:.2s
}
 
/* Style check icon. give it a border on the bottom and right only and then rotate */
.checkbox-group label .check {
    top:0;
    left:19px;
    width:7px;
    height:15px;
    border:2px solid #fff;
    border-top:none;
    border-left:none;
    opacity:0;
    z-index:10;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    -webkit-transition-delay:.3s;
    -moz-transition-delay:.3s;
    transition-delay:.3s
}
 
/* Change color of box when checkbox is checked */
.checkbox-group input[type=checkbox]:checked ~ label .box {
    background:#129fdd
}
 
/* Rotate and show check icon when checkbox is checked */
.checkbox-group input[type=checkbox]:checked ~ label .check {
    opacity:1;
    -webkit-transform:scale(1) rotate(45deg);
    -moz-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}

/***End of Checkbox Controls***/


#wrapper {
    -webkit-transition: all 500ms cubic-bezier(0.745, 0.205, 0.080, 0.920); 
   -moz-transition: all 500ms cubic-bezier(0.745, 0.205, 0.080, 0.920); 
     -o-transition: all 500ms cubic-bezier(0.745, 0.205, 0.080, 0.920); 
        transition: all 500ms cubic-bezier(0.745, 0.205, 0.080, 0.920); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.745, 0.205, 0.080, 0.920); 
   -moz-transition-timing-function: cubic-bezier(0.745, 0.205, 0.080, 0.920); 
     -o-transition-timing-function: cubic-bezier(0.745, 0.205, 0.080, 0.920); 
        transition-timing-function: cubic-bezier(0.745, 0.205, 0.080, 0.920); /* custom */
}

h1,h2,h3,h4,h5,h6
{
    font-weight: 300;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);    
    cursor: pointer;
}
 

header
{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1.2em 0;
    background: #0079c1;
}

.header-login {
    background: transparent!important;
}

header img
{
    width: 100px;
}

.main-container
{
    padding-top: 1.5em;
    background: #eeeeee;
}

input:required 
{
    box-shadow:none;
}

label
{
    margin-bottom: 0px!important;
}

/***Custom Popup****/
.popup-holder
{
    position: fixed;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px; 
    z-index: 100;
    background: #eeeeee; 
    overflow: auto;
}

.popup
{
    position: relative;
    display: block;
    background: #ffffff;
    width: 80%;
    padding: 1em;
    top: 10;
    left: 0;
    margin: 15px auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: scaleUp .3s ease both;
	animation: scaleUp .3s ease both;	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    overflow: auto;
}

.popup-cancel
{
    margin-right: 1em;
}

.close-popup
{
    position: absolute;
    color: #aaaaaa;
    right: 10px;
    top: 8px;
    text-align: center;
    cursor: pointer;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s
}

.close-popup:hover span
{
    color: #F44336;
}

.close-popup span
{    
    font-weight: bold;
    font-size: 1.3em;
}

/***End of Custom Popup****/

/***Button****/
.btn:focus,.btn:active
.btn:active:focus,
.btn.active:focus  
{
   outline: none !important;
}

.material-btn, .material-btn:focus
{
    border-radius: 0px;
    font-size: 1em;
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     -moz-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;                 
       -o-transition: all .3s ease-in;
          transition: all .3s ease-in;
          margin: 15px auto;
          height: auto;
          width: auto;
          padding: 6px 15px!important;
}

.material-btn-primary:hover,
.material-btn-primary:focus, .material-btn-primary:active
{
    background: #ffcf22!important;
    color: #ffffff!important; 
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


}

.material-btn-primary:active:focus,
.material-btn-primary.active:focus
{
    background: #ffcf22!important;
    color: #ffffff!important; 
    box-shadow: none;
}  

.material-btn-cancel:hover,
.material-btn-cancel:focus, .material-btn-cancel:active
{
    background: #aaaaaa!important;
    color: #ffffff!important; 
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


}

.material-btn-cancel:active:focus,
.material-btn-cancel.active:focus
{
    background: #aaaaaa!important;
    color: #ffffff!important; 
    box-shadow: none;
}  

/***End of Button****/


/***Sliding Checkbox***/

.login-checkbox
{
    margin-top: 0px!important;
    margin-left: 8em!important;
}

.toggles
{
    width:70px;
    margin:50px auto;
    text-align:center;
}

.ios-toggle,.ios-toggle:active
{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
}

.checkbox-label
{
    display:block;
    position:relative;
    padding:10px;
    margin-bottom:20px;
    font-size:12px;
    line-height:16px;
    width:100%;
    height:22px;
    /*border-radius*/
    -webkit-border-radius:18px;
       -moz-border-radius:18px;
            border-radius:18px;
    background:#aaaaaa;
    cursor:pointer;
    -webkit-transition:.25s ease-in-out;
       -moz-transition:.25s ease-in-out;
         -o-transition:.25s ease-in-out;
            transition:.25s ease-in-out;
            
}

.checkbox-label:before
{
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    line-height:34px;
    text-indent:40px;
    height:36px;
    width:36px;
    /*border-radius*/
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
    top:-6px;
    left:-1px;
    right:auto;
    background:white;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
     -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
            
    -webkit-transition:.25s ease-in-out;
       -moz-transition:.25s ease-in-out;
         -o-transition:.25s ease-in-out;
            transition:.25s ease-in-out;
            
}

.checkbox-label:after
{
    display:block;
    position:absolute;
    z-index:0;
    top:0;
    left:-300px;
    padding:10px;
    height:100%;
    width:300px;
    text-align:right;
    color:#bfbfbf;
    white-space:nowrap;
    
}

.ios-toggle:checked + .checkbox-label
{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
       -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
            box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}

.ios-toggle:checked + .checkbox-label:before
{
    left:calc(100% - 33px);
    /*box-shadow*/
     -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    background:#FA2F66;
}

.ios-toggle:checked + .checkbox-label:after
{
    content:attr(data-on);
    left:60px;
    width:36px;
}

/* BLUE CHECKBOX */

.blue-checkbox:checked + .checkbox-label
{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px #d31245,0 0 0 2px #d31245;
       -moz-box-shadow:inset 0 0 0 20px #d31245,0 0 0 2px #d31245;
            box-shadow:inset 0 0 0 20px #d31245,0 0 0 2px #d31245;
}
.blue-checkbox:checked + .checkbox-label:after
{
    color:#d31245;
}

.checkbox-label *,.checkbox-label :before, .checkbox-label :after
{
    box-sizing:border-box;
    margin:0;
    padding:0;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
       -moz-transition:.25s ease-in-out;
         -o-transition:.25s ease-in-out;
            transition:.25s ease-in-out;
    outline:none;
}

/***End of Sliding Checkbox***/

/***Radio Controls***/

.radioholder
{
    margin: 0 auto;
    margin-left: -10px;
}

.radioholder .material-radio 
{
  display: inline-block;
  padding-right: 20px;
  font-size: 1em;
  line-height: 2.3em;
  cursor: pointer;
  font-weight: 400!important;
}

.material-radio:hover .inner 
{
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;  
}

.material-radio input 
{
  width: 1px;
  height: 1px;
  opacity: 0;
}

.material-radio input:checked + .outer .inner 
{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.material-radio input:checked + .outer 
{ 
    border: 2px solid #ffcf22; 
}

.material-radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #ffcf22;
}

.material-radio .outer {
  width: 28px;
  height: 28px;
  display: block;
  float: left;
  margin: 10px 9px 10px 10px;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
  background-color: #fff;
}

.material-radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 18px;
  height: 18px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
  background-color: #ffcf22;
  opacity: 0;
}


/***End of Radio Controls***/


/***Material Input and Label***/

/*** Input and Label ***/

.material-label:focus, .material-label:required
{
    outline: 0px!important;
    box-shadow: none!important;
}

.material-label
{
    color: #999; 
	font-size: 18px;
	font-weight: normal;
	transition: all 0.2s ease;
	position: absolute;
	pointer-events: none;
	top: 5px;
}

.material-input:focus ~ .material-label,
.material-input.used ~ .material-label, 
.material-input:valid ~ .material-label
{
    left: 10px!important;
}
/* active */

.material-input:focus ~ .material-label, .material-input.used ~ .material-label, 
.material-input:valid ~ .material-label
{
	top: -20px;
    transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}

/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #00afe9; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.material-input:focus ~ .bar:before, .material-input:focus ~ .bar:after
{
    width: 50%;
}

.material-input
{
	font-size: 1em;
	padding-left: 5px;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

#txtusername, #txtpassword 
{
	font-size: 18px;
	padding-left: 5px;
	-webkit-appearance: none;
	display: block;
	background: #ffffff;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

/*** End of Input and Label ***/
/***End of Material Input and Label***/

/***Material Dropdown list***/
.material-dropdown-list
{
    border-radius: 0px;
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -ms-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -o-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding: 0;
}

.material-dropdown-list li a
{
    padding: 1em;
}

.material-dropdown-list li a:focus
{
   outline: 0;
   box-shadow: none;
}

/***End of Material Dropdown list***/


/***Material Calendar***/
.bootstrap-datetimepicker-widget
{    
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
       -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
         -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            border-radius: 2px;
            border: 0px;
}

.bootstrap-datetimepicker-widget table td span
{
    border-radius: 50%;
}

.bootstrap-datetimepicker-widget table td.day, .bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th
{
    width: 30px;
    height: 30px;
    line-height: 2;
    border-radius: 50%;
}

.bootstrap-datetimepicker-widget table th.picker-switch
{
    border-radius: 2px;
}
/***End of Material Calendar***/

/***Material Dropdwon***/
.material-inputdropdown
{    
   border-bottom: 1px solid rgba(0,0,0,0.3)!important;
   cursor: default;
   border-radius: 0px;
   border: 0px; 
   box-shadow: none;
   background: transparent;
   cursor: pointer;
}

.material-dropdown
{
    border: 0px;
    background: none;
    border-radius: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.3)!important;
}

.material-dropdown .mdi
{
    font-size: 1.5em;
}

/***End of Material Dropdwon***/

/**********************
Login CSS
**********************/

.login-body
{
    background: #004b8d;    
}

.login-container
{
    color: #ffffff;
    height: 1000px;
}

.login-logo
{
    width: 300px; 
    margin-bottom: 1em;
}

.login-subtitle
{
    margin: 1em auto;
    font-size: 1.25em;
    color: #fafafa;
    font-weight: 300;
    letter-spacing: 3px;
}

#loginform {
	width: 450px;
	margin: auto;
	margin-bottom: 0px!important;
	padding: 3em 1.5em .5em 1.5em;
	background: #ffffff;
	border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
	border-top: 2px
}

.login-container
{
    background: #f79428;
    padding-bottom: 5em;
    padding-top: 3em;
}

#loginholder
{
    width: 100%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    -webkit-animation: scaleUp .5s ease both;
	animation: scaleUp .5s ease both;
	margin-top: 3em;
}

#logocontainer
{
    margin-bottom: 3em;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
}

.logintxt
{
    text-align: center;
    margin-bottom: .5em;
    color: #515151;
    font-weight: 400;
    font-size: 2em;
}


.sub-logintxt
{
    text-align: center;
    margin-bottom: 2.5em;
    color: #717171;
    font-weight: 400;
    font-size: 1.25em;
}


.sub-logintxt b
{
    color: #004b8d;
    /*font-size: 300;*/
}

#logocontainer h4
{
    font-size: 2em;
    font-weight: 500;
    color: #ffffff;
}

#loginform .mdi
{
    font-size: 2.75em;
    color: #515151;
    position: relative;
    vertical-align: middle;
}

#loginform .group 
{ 
	position: relative; 
	margin-bottom: 2.5em; 
}

#loginform .group .row
{ 
	margin-right: 0px;
}

.remember-holder
{
    margin-top: 15px;
    margin-bottom: 30px;
}

.login-checkbox
{
    margin-top: 0px!important;
}

.remember
{
    font-weight: 500;
    position: absolute;
    display: inline-block;
    line-height: 1;
    color: #808080;
}


/**********************
End of Login CSS
**********************/

/* For Mobile Toggle */

.navbar-default .mdi-menu
{
    font-size: 2em;
    color: #eeeeee
}

.navbar-default .mdi-menu:hover
{
    color: #ffffff;
}

.navbar-default .navbar-toggle
{    
    margin-left: -11px;
    margin-top: 3px;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle
{
    background: none;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar
{
    background: #ffffff;
    height: 4px;
    width: 24px;
}

.nav-custom-default
{
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;     
    background-color: #0079c1;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
          display: block;
          padding: 10px 0 0px;           
}

.nav-custom-default .navbar-brand
{
    color: #eeeeee;
    font-size: 1.5em;
    font-weight: 300;
}

.nav-custom-default .navbar-brand:hover,
.nav-custom-default .navbar-brand:focus
{
    color: #ffffff;
    background: transparent;
}


.nav-custom-default .navbar-nav li:hover,
.nav-custom-default .navbar-nav li:focus
{
    background: transparent;
}

.nav-custom-default .navbar-nav li:hover a, 
.nav-custom-default .navbar-nav li:focus a
{
    color: #ffffff;  
    border-bottom: 3px solid #BBE3F7; 
} 

.nav-custom-default .navbar-nav li.active a,
.nav-custom-default .navbar-nav li.active a:hover
{  
    border-bottom: 3px solid #BBE3F7; 
    background: #0079c1;
    color: #ffffff;
}

.nav-custom-default .navbar-nav li a
{
    color: #004b8d;    
    vertical-align: middle;
    line-height: 1.3em;
    font-size: 1em;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
          cursor: pointer;
          padding:20px 15px;
          border-bottom: 3px solid transparent; 
}

.nav-custom-default .navbar-nav .dropdown-menu
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;      
}

.nav-custom-default .navbar-nav .dropdown-menu li a
{
    font-size: 1em;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease; 
}

.nav-custom-default .navbar-nav .dropdown-menu li a:hover
{
    background: #eeeeee;
}

.top-text-holder
{
   font-size: 1.1em;
   font-weight: 400;
   -webkit-animation: moveFromLeft .7s ease both;
	animation: moveFromLeft .7s ease both;
	color: #fafafa;
	
}

a.boxclose
{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    cursor:pointer;
    color: #ffffff;
    font-size: 2em;
    display: inline-block;
    line-height: 0px;
    text-decoration: none;
    padding: 0em;
}

.boxclose:before
{
    content: "×";
}

#menuclose
{
    float: none;
    margin-top: -1px;
    background: #eeeeee;
    padding: .5em .75em .75em .75em;
    z-index: 1036;
    left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; 
    display: none;
}

#menuclose:hover
{    
    background: #F44336;
}

/**********************
Ticket Form CSS
**********************/
span.asterisk
{
	color: #FF0000;
	text-align: center;
	vertical-align: top;
	padding-left: 2px;
	font-size: 20px;
	font-weight: bold;
	vertical-align: baseline;
	margin-right: 2px;
}

.form-holder
{
    background: #ffffff;
    padding: 2em;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.form-holder .form-group
{
    margin-bottom: .8em;
}

.form-holder .form-group:last-child
{
    margin-bottom: 2px!important;
}

.title-input
{
    font-size: .9em;
    font-weight: 400;
    padding-bottom: .01em;
    color: #000000;
    display: inline-block;
}

.title-help
{
    font-size: 1.3em;
    float: right;
    opacity: 0.2;
    cursor: pointer;
    color: #212121;
}

.title-help:hover
{
    opacity: 1;
    color: #0079c1;
     -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  
    
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease; 
}

.form-group input, .form-group input:focus, 
.form-group textarea, .form-group textarea:focus
{
  box-shadow: none; 
  outline: none!important;
}

.form-group .material-radio
{
    color: #515151;
    font-size: 1em!important;
    line-height: 2.8;
}

.form-group .material-radio:hover
{
    color: #000;
}

.form-group input, .form-group textarea
{
    font-size: 1em;
    color: #515151;
}

.title-desc-holder
{
    margin: 1.5em 0;
    background: #BBE3F7;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.help-details
{
    color: #2d2d2d;
}

.title-desc-holder ul
{
    padding: 1em;
}

.title-desc-holder ul li
{
    list-style: none;    
    font-size: 15px;
    line-height: 25px;
}

.table-no-border thead tr th
{
    font-weight: 300!important;
    font-size: 18px;
    background: #0079c1;
    color: #fdfdfd;
}

.title-desc-holder b
{
    font-weight: 400!important;
    color: #000000;
}

.table-no-border tbody tr td:nth-of-type(odd)
{
    background: #ffffff;
}

.table-no-border tbody tr td:nth-of-type(even)
{
    background: #fafafa;
}

.table-no-border thead tr th, .table-no-border tbody tr td
{
    border: 0px!important;
    padding: 15px;
}

.table-no-border tbody tr td
{    
    font-size: 15px;
    line-height: 25px;
    color: #2d2d2d;
}

.severityopt.active
{
    display: block!important;
}

.attach-file
{
    width: 100px;
    text-align: center;
    padding: .5em;
    height: auto;
    cursor: pointer;
}

.attach-file:hover
{
    background: #0079c1;
    color: #ffffff;
}

.titleremarks
{
    background: #fdfdfd;
    width: 100%;
    padding: 1em 10px;
    text-align: left;
    color: #212121;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.titleremarks h3
{
    margin: 0px;
    font-weight: 400;
    font-size: 20px;
    color: #414141;
    padding-left: .77em;
}

.list-ticket-holder
{    
    padding: 1em;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.list-ticket-title
{
    color: #717171;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-ticket-details
{
    margin: 0;    
    padding: .5em;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid transparent;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease; 
}

.list-ticket-details:hover
{
    background: #f7f7f7;
}

.list-ticket-details:hover li
{
    color: #212121;
}

.list-ticket-details li
{
    list-style: none;
}

.list-date-reported, .list-system-name
{
    font-size: .8em;
    color: #818181;
}

textarea
{    
    height: auto!important;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease; 
}

textarea:focus
{
    height: 200px!important;
}


.viewall
{
    display: block;
    margin: 10px -15px -15px -15px;
    padding: 5px;
    text-decoration: none!important;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease; 
}

.viewall:hover
{
    background: rgba(255,207,34,.8);
    color: #ffffff;
}

/**********************
End of Ticket Form CSS
**********************/


/**********************
Open Ticket CSS
**********************/

.ticket-holder
{
    display: block;
    padding: 1em;
}

.ticket-details-holder
{
    padding: 0;
    margin: 0;
}
.ticket-details-holder li
{
    list-style: none;
}


.ticket-details-title, .ticket-details-answer
{
    font-size: 1em;
    font-weight: 400;
    padding-bottom: .5em;
    display: inline-block;
    vertical-align: top;
}

.ticket-details-title
{    
    color: #818181;    
    width: 150px;
}

.ticket-details-answer
{
    color: #000000;      
    width: 370px;
    word-wrap:break-word;
}

.ticket-details-answer.ticket-desc
{
    width: 80%!important;
}

.modal-ticket-input-holder
{
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2em;
    background:#fcfcfc;
    margin-bottom: 2em;
    margin-top: 2em;
}

.changestatus-holder
{
    float: right;
}

.changestatus
{
    line-height: 2.5;
    width: auto;
    padding: 0px 15px;
}

.status-change-holder
{
    /*margin-left: 14em;*/
}

.status-change-holder .material-dropdown-list
{
    margin-left: 97px;
    margin-top: -83px;
    width: 202px;
}

.status-txt
{
    font-size: 1.5em;    
    /*margin-right: -3em;*/
    display: inline-block;
}

.ticket-list-title
{
    display: none;
}

.category-label
{
    margin-right: 10px;
    font-size: 17px;
    font-weight: 300;
}

/*Footer*/

.footer
{
    background: #ffffff;
    padding-top: 1px;
    margin-top: 2em;
}

.footer-container
{
    bottom: 0;
    position: relative;
    background: #ffffff;
}

.footer img
{
    margin-left: 10px;
    width: 50%;
}

.footer ul
{
    padding-top: 10px;
}

#footer > div > div
{
    background: transparent!important;
}

#footerMobile div
{
    line-height: 1.75em;
}


#backtotop
{
    bottom: 8%;
    right: 6%;
    position: fixed;
    font-size: 2.5em;
    padding: 5px;
    border: 2px solid #dadada;
    border-radius: 5px;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
       transition: all .5s ease;   
}

#backtotop a
{    
    color: #dadada;
    cursor: pointer;
}

#backtotop:hover, #backtotop:focus
{
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
       transition: all .5s ease;        
        border: 2px solid #515151;
        background: #fdfdfd;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#backtotop:hover a
{
    color: #515151;
}

/*End of Footer*/




#sending-ticket {
    width:100%;
    height: 100%;
    background:white;
    position: fixed;
    opacity:0.8;
    z-index: 1000;
   display:none;
}

.imgwrapholder
{
    width: 100px;
    height: 100px;
}
    #imgwrap { 
        margin-top:100px;
        position: absolute; 
        width:100%;
    }
     #imgwrap img { 
         
    width:100px;
    height: auto
    }

     img.imgSlider {
    width: 100px;
    padding: 3px;
    border: 1px solid #eeeeee;
    margin: 15px 3px;
    
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease; 
}

img.imgSlider:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1);
}


#attachment-wrap {
    
    color: rgb(218, 218, 218);
    text-align: center;
    font-size: 24px;

}

#attachment-inst {
    margin:0;
    color:#C5C5C5;
    font-size: 15px;
    text-align:center;
}

#status-wrap {
    z-index:50; 
    width:315px;
    margin-bottom : -80px;
    float:right;
}

#status-dl-wrap dd{
    display:inline-flex;
    margin-left: 5px;
}

.k-i-arrow-s {
    margin-top:10px !important;
}

.k-grid {
    font-size: 12px;
}
.k-grid td {
    line-height: 2em;
}

.k-grid-content
{
    max-height: 400px;
}

.k-grid-header .k-header .k-link,
.k-grid-header .k-header
{
    color: #313131;
}

#sqms-content > div {
    margin:0px 15px;
    padding:20px;
    height:254px;
}

#sqms-content a {
    font-size:12px;
}

#list-ticketstatus {
    list-style:none;
    margin-top:20px;
}

#sqms-content li {
    font-size:14px;
}
    #sqms-content li:hover {
        cursor:pointer;
        text-decoration:underline;
    }
#fullName {
  margin-top:0px !important;   
  color:#0079C1;
  font-weight:500;
}

#dashboard-wrap {
    margin-left: 18px; width: 73%;
}

#tickets-wrap {
    height:118%;
    padding:20px;
}

#table-logs td[role=gridcell] {
    font-size: 12px;
}
ul#list-ticketstatus a {
    font-size: 15px;
    padding: 15px 5px;
    font-weight:400;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}
ul#list-ticketstatus span.label {
    font-size: 12px;
}

/* For Dashboard Responsive*/
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {

    #dashboard-wrap {
        width: 100% !important;
        margin-left: 0px !important;
    }
    #tickets-wrap {
        height:500px !important;
    }
 }

  @media only screen and (min-device-width: 1024) and (max-device-width: 768) and (orientation:portrait) {

    #dashboard-wrap {
        width: 100% !important;
        margin-left: 0px !important;
    }
    #tickets-wrap {
        height:500px !important;
    }
 }

p.list-group-item-text {
    font-size: 12px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     color: #0079C1;
     line-height: 1.5em;
}

h4.list-group-item-heading {
    font-size: 13px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     font-weight:500;
}

 p.list-group-item-text.log-date {
    font-size: 10px;
    color: #B3AEAE;
    font-style: italic;
    margin: -21px -5px;
}

#list-ticketstatus .glyphicon-menu-right {
    color : #DAD7D7;
}

.ticket-style {
    /*margin: -19px -19px;*/
    /*//position: absolute;*/
    font-size: 14px !important; 
    /*padding: 4px 15px 4px 15px;*/
    font-weight:normal !important;
}

.systemname {
    margin-top:4px;
    /*color:#0079c1 !important;*/
    font-weight:500;
}

.list-group-item {
    padding:17px 19px !important;
    background: #ffffff;
    cursor: pointer;
}

.list-group-item:last-child,
.list-group-item:first-child
{
    border-radius: 1px;
}

p.ticket-stats {
    margin: -3px -7px;
}
ul#most-tickets li {
    font-size: 14px;
}

a.list-group-item.divider {
    padding: 10px 7px!important; 
    background-color: #0079c1;
    color: white;
}

a.list-group-item.divider p{
    margin: 2px 10px;
}

/* New Dashboard */
.total-wrap {
    /*border:1px solid #e2e2e2;*/ 
    border-radius:0;
    margin-top:20px;
    margin-bottom:0px;
    background:white;
}

    .total-wrap h1 {
        font-weight:300;
    }

 .dashboard-status 
 {
    border:1px solid #F1F1F1;
    background: #fafafa;
    text-align: center;
 }

.dashboard-status a
{
    position: relative;
    display: block;
    font-size: 15px;
    padding: 15px 5px;
    font-weight: 400;
    text-decoration: none;
    color: #969696;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

.dashboard-status:hover a
{
    background:#ffcf22!important;
    color:#fafafa;  
}

.dashboard-status:hover .counter
{
    color:white;  
}

.dashboard-status .counter {
    text-align:center;
    font-weight:500;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    color: #0079c1;
    font-size: 3.5em;
    font-weight: 300
}

#listview-logs, #table-logs 
{
    width:100%;
    min-height:200px;
    max-height: 500px;
    overflow: auto;
}

/*#list-ticketstatus li{
    width: 14.05%;
    padding-left:0px;
    padding-right:0px;
    border:1px solid #F1F1F1;
    background: white;
}

#list-ticketstatus li a:hover {
   background:#d31245!important;
   color:white;  
}

#list-ticketstatus .counter {
    text-align:center;
    font-weight:500;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    font-size: 30px;
}*/

.highcharts-container ~ #container  
{
    border: 1px solid #ddd;
}


@media(min-width: 992px)
{
    .dashboard-holder .col-md-3
    {
        width: 24.7%;
        padding-left: 1px;
        padding-right: 1px;
    }
    
    .dashboard-holder .col-md-3:first-child
    {
        padding-left: 15px;
    }
    
    .dashboard-holder .col-md-3:last-child
    {
        padding-right: 0px;
    }
}

@media(max-width: 992px) and (min-width: 768px)
{
    .dashboard-holder .col-sm-6
    {
        width: 50%;
        padding-left: 1px;
        padding-right: 1px;
        margin-bottom: 2px;
    }
        
    .dashboard-holder .row
    {
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin-left: 0px!important;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        max-height: 100%!important;
    }
    .navbar-collapse.collapse {
        display: none!important;
        padding-left: 45px;
    }
    .navbar-nav {
        float: none!important;
        margin: 30px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    
    .navbar-collapse.collapse.mobilemenu
    {
        width: 250px;
        height: 100%!important;
        left: -250px;
        top: 0;
        position: fixed;
        display: block!important;
        background: #fafafa;
        z-index: 1035;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        
    -webkit-transition: all 500ms cubic-bezier(0.745, 0.205, 0.080, 0.920); 
   -moz-transition: all 500ms cubic-bezier(0.745, 0.205, 0.080, 0.920); 
     -o-transition: all 500ms cubic-bezier(0.745, 0.205, 0.080, 0.920); 
        transition: all 500ms cubic-bezier(0.745, 0.205, 0.080, 0.920); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.745, 0.205, 0.080, 0.920); 
   -moz-transition-timing-function: cubic-bezier(0.745, 0.205, 0.080, 0.920); 
     -o-transition-timing-function: cubic-bezier(0.745, 0.205, 0.080, 0.920); 
        transition-timing-function: cubic-bezier(0.745, 0.205, 0.080, 0.920); /* custom */
    }
    
    .mobilemenu .nav .dropdown-menu li
    {
        width: 100%;
    }    
           
    .nav-custom-default .navbar-brand 
    {
       margin-top: 0px;
    }
    
    .nav-custom-default
    {
        padding: 10px 0 5px;
    }
        
    .navbar-collapse
    {
        max-height: 100%;
    }
        
    .nav-custom-default .navbar-nav .dropdown-menu
    {
        float: none;
        border: none;     
    }
    
     .nav-custom-default .navbar-nav li
     {
         padding-left: 1em;
     }
     
     .nav-custom-default .navbar-nav li .mdi
     {
         margin-right: 15px;
     }
    
    .nav-custom-default .navbar-nav li a
    {
        color:#818181;
        border-bottom: 3px solid transparent;
    }    
    
    .nav-custom-default .navbar-nav li.active a, 
    .nav-custom-default .navbar-nav li.active a:hover
    {
        border-bottom: 3px solid transparent;
    }
    
    .nav-custom-default .navbar-nav li:hover a, 
    .nav-custom-default .navbar-nav li:focus a
    {
        border-bottom: none; 
        background: rgba(0,121,193,.05);
        color: #404040;
        border-bottom: 3px solid transparent;
    } 
    
    .boxclose
    {
        display: inline-block!important;
    }
    
    .ticket-list-title
    {
        display: block;
    }
    
    .titleremarks
    {
        margin-top: 2em;
    }
    
}

@media (max-height:400px) {
    .ticket-details-answer
    {
        width: 100%;
    }
    
}

@media (min-width: 300px) and (max-width: 439px)
{
    .nav-custom-default .navbar-brand{
        font-size: 1.05em;
    }
    
     .navbar-brand
    {
        line-height: normal;
        padding: 15px 0px;
    }
}

@media (min-width: 460px) and (max-width: 500px)
{
    .nav-custom-default .navbar-brand{
        font-size: 1.45em;
    }    
    
    .navbar-brand
    {
        line-height: 1em;
        padding: 15px 0px;
    }
    
}

@media (max-width: 500px)
{            
    #loginform {
        width: 100%;
    }
        
    .navbar-toggle
    {
        margin-right: 5px;
    }
    
}

@media (max-width:767px)
{
    #list-ticketstatus li {
        width: 100% !important;
    }
    #list-ticketstatus li a{
        font-size:13px !important;
    }
    
    .popup {
        width:100% !important;
        margin:0px !important;

    }
    
    .ticket-details-answer
    {
        width:100%;
    }
    
    img.imgSlider {
        width:50px !important;
    }
    
    #tickets-wrap {
        height :828px !important;     
    }
    #dashboard-wrap {
        width:auto !important;
        margin: 0px !important;
    }
    #status-wrap {
        width:215px !important;
        margin-bottom : 0px !important;
        margin-left:-10px !important;
        float:left !important;
    }

    .k-dropdown {
        width:100% !important;
    }
    .toolbar {
        float: left !important;
    }

    .status-change-holder .material-dropdown-list {
        margin-left:14px !important;
    }
}


/***List Holder****/
.listholder {
    list-style: none;
    margin-left: -40px;    
    max-height: 871px;
    overflow-y: auto;
}

.list-holder-li.current
{
    background: #ffcf22;
    color: #ffffff;
}


.list-holder-li {
    width: 100%;
    background: #fdfdfd;
    height: 100px;
    padding: .75em .5em;
    position: relative;
    margin-bottom: .5em;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    cursor: pointer;    
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.list-holder-li-small {
    width: 100%;
    background: #fdfdfd;
    height: 50px;
    padding: .25em .25em;
    position: relative;
    margin-bottom: .25em;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    box-shadow: 0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
    cursor: pointer;    
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.list-holder-li:hover
{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.admininit {
    padding-top: 6px;
}

.nameinitial {
    float: left;
    font-size: 2em;
    height: auto;
    display: block;
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.4;
    color: #212121;
    border: 1px dotted #212121;
    border-spacing: 10px;
}

.nameinitialsmall {
    float: left;
    font-size: 2em;
    height: auto;
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    text-align: center;
    line-height: 1.4;
    color: #212121;
    /*border: 1px dotted #212121;
    border-spacing: 10px;*/
}

.userholder .nameuser {
    position: relative;
}

.nameuser {
    padding-left: 1em;
    padding-top: .25em;
    display: inline-block;
    position: absolute;
    font-size: 1.15em;
}

.nameuserrole {
    padding-left: 1.35em;
    padding-top: 2.25em;
    display: inline-block;
    position: absolute;
    font-size: .85em;
    color: #757575;
}


.list-holder-li:hover .modifyicon-holder
{
    display: block;
}

.modifyicon-holder {
    float: right;
    display: none;
}

    .modifyicon-holder span {
        cursor: pointer;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        font-size: 1.25em;
    }

.modifyicon-holder .mdi-pencil:hover
{
    color: #0079c1;
    text-shadow:  0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);
}

.modifyicon-holder .mdi-close:hover
{
    color: #F44336;
    text-shadow:  0 1px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.12);    
}

/***End of List Holder****/

/*------- Modal Box ---------*/

.modal.in .modal-dialog {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
}

.modal-backdrop {
    z-index: 1;
}

.modal-header {
    background: #1565C0;
    border-bottom: 3px solid #1976D2;
    color: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 20px;
}

.modal-body {
    text-align: left;
    min-height: 100px;
    max-height: 600px;
    overflow: auto;
}

    .modal-body label {
        font-weight: 500;
        margin-bottom: 1em;
    }

    .modal-body .bar {
        margin-bottom: 1em;
    }


.modal-footer .btn {
    margin-bottom: 0px!important;
}

/*-------End of Modal Box ---------*/