﻿#topholder
{
    
}
#menuholder
{
    background-color: #F39912;
}

.menuitem
{
    border: 1px solid #F39912;
}

.menuitemhover
{
    border-bottom: 1px solid #FFCA1C;
}

.menuitemselected
{
    border: 1px inset #FFCA1C;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}

.menuitemselected2
{
    border-bottom: 1px solid #ddd;
}

.submenustyle a:hover
{
	border-bottom: 1px solid #FFCA1C;
}

.titleholderbg2
{
	background-color:#808080;
}

.standardbutton
{
    background-color:  #F39912;
    color: #FFFFFF;
    border: 1px solid #F39912;
}

.standardbuttonhover
{
    background-color:  #F7C00A;
    border: 1px solid #F7C00A;
}

.listheaderbg
{
	background-color:#DBD7EB;
}

.widgetheader span
{
    color: #f97300;
}

.linkbutton1
{
    color: #000000;
}

.logintitle1
{
	color: #f97300;
}

.headertitle1
{
    color: #f97300;
}

.headertitle2
{
    color: #f97300;
}

.headertitle3
{
    color: #f97300;
}

.headertitle4
{
    color: #f97300;
}

.headertitle5
{
    color: #f97300;
}

.headertitle
{
	color: #f97300;
}

.title_color span
{
	color: #f97300;
}

.title_color .btn-link:hover, .btn-link:focus
{
	color: #757676;
}

.link_color
{
	color: #f97300;
}
