﻿#topholder
{
    
}
#menuholder
{
    background-color: #00aa7e;
}

.menuitem
{
    border: 1px solid #00aa7e;
}

.menuitemhover
{
    border-bottom: 1px solid #57CFB0;
}

.menuitemselected
{
    border: 1px inset #57CFB0;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}

.menuitemselected2
{
    border-bottom: 1px solid #ddd;
}

.submenustyle a:hover
{
	border-bottom: 1px solid #57CFB0;
}

.titleholderbg2
{
	background-color:#808080;
}

.standardbutton
{
    background-color:  #00aa7e;
    color: #FFFFFF;
    border: 1px solid #00aa7e;
}

.standardbuttonhover
{
    background-color:  #4BBFA1;
    border: 1px solid #4BBFA1;
}

.listheaderbg
{
	background-color:#DBD7EB;
}

.widgetheader span
{
    color: #0A8D34;
}

.linkbutton1
{
    color: #000000;
	
}

.logintitle1
{
	color: #0A8D34;
}

.headertitle1
{
    color: #0A8D34;
}

.headertitle2
{
    color: #0A8D34;
}

.headertitle3
{
    color: #0A8D34;
}

.headertitle4
{
    color: #0A8D34;
}

.headertitle5
{
    color: #0A8D34;
}

.headertitle
{
	color: #0A8D34;
}

.title_color span
{
	color: #0A8D34;
}

.title_color .btn-link:hover, .btn-link:focus
{
	color: #757676;
}

.link_color
{
	color: #0A8D34;
}
