﻿#topholder
{
    
}
#menuholder
{
    background-color: #D6362E;
}

.menuitem
{
    border: 1px solid #D6362E;
}

.menuitemhover
{
    border-bottom: 1px solid #FFAEBF;
}

.menuitemselected
{
    border: 1px inset #E47D92;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}

.menuitemselected2
{
    border-bottom: 1px solid #ddd;
}

.submenustyle a:hover
{
	border-bottom: 1px solid #E8473F;
}

.titleholderbg2
{
	background-color:#808080;
}

.standardbutton
{
    background-color:  #D6362E;
    color: #FFFFFF;
    border: 1px solid #D6362E;
}

.standardbuttonhover
{
    background-color:  #EC5B54;
    border: 1px solid #EC5B54;
}

.listheaderbg
{
	background-color:#DBD7EB;
}

.widgetheader span
{
    color: #F51111;
}

.linkbutton1
{
    color: #000000;
}

.logintitle1
{
	color: #EC5B54;
}

.headertitle1
{
    color: #D81212;
}

.headertitle2
{
    color: #D81212;
}

.headertitle3
{
    color: #F51111;
}

.headertitle4
{
    color: #F51111;
}

.headertitle5
{
    color: #F51111;
}

.headertitle
{
	color: #F51111;
}

.title_color span
{
	color: #F51111;
}

.title_color .btn-link:hover, .btn-link:focus
{
	color: #757676;
}

.link_color
{
	color: #F51111;
}
