﻿#topholder
{
    
}
#menuholder
{
    background-color: #067ab4;
}

.menuitem
{
    border: 1px solid #067ab4;
}

.menuitemhover
{
    border-bottom: 1px solid #9ED9FA;
}

.menuitemselected
{
    border: 1px inset #6FAED1;
	/*color: #FFFFFF;*/
	color:#FF9F5F;
	/*text-shadow: 2px 2px #000000;*/
}

.menuitemselected2
{
    border-bottom: 1px solid #ddd;
}

.submenustyle a:hover
{
	border-bottom: 1px solid #9ED9FA;
}

.titleholderbg2
{
	background-color:#808080;
}

.standardbutton
{
    background-color:  #067ab4;
    color: #FFFFFF;
    border: 1px solid #067ab4;
}

.standardbuttonhover
{
    background-color:  #5CB4E6;
    border: 1px solid #5CB4E6;
}

.listheaderbg
{
	background-color:#DBD7EB;
}

.widgetheader span
{
    color: #067ab4;
}

.linkbutton1
{
    color: #000000;
}

.logintitle1
{
	color: #067ab4;
}

.headertitle1
{
    color: #067ab4;
}

.headertitle2
{
    color: #067ab4;
}

.headertitle3
{
    color: #067ab4;
}

.headertitle4
{
    color: #067ab4;
}

.headertitle5
{
    color: #067ab4;
}

.headertitle
{
	color: #067ab4;
}

.title_color span
{
	color: #067ab4;
}

.title_color .btn-link:hover, .btn-link:focus
{
	color: #757676;
}

.link_color
{
	color: #067ab4;
}
