﻿#menuholder
{
    background-color: #68217A;
}

.menuitem
{
    border: 1px solid #68217A;
}

.menuitemhover
{
    border-bottom: 1px solid #D64BFA;
}

.menuitemselected
{
    border: 1px inset #9C32B8;
}

.widgetheader span
{
    color: #68217A;
}

.headertitle1
{
    color: #68217A;
}

.headertitle2
{
    color: #68217A;
    
    font-size: 18px;
}

.headertitle3
{
    color: #68217A;
    
}

.headertitle4
{
    color: #68217A;
}

.headertitle5
{
    color: #68217A;
}

.optionboxholder
{
	background-color: #ccc;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px solid #08c;
	color: #666;
	text-shadow: 0px 0px #E8E8E8;
	
	padding: 0px;
}

.optionboxitem
{
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #8B37A1;
	color: #666;
	text-shadow: 0px 0px #E8E8E8;
	
	padding: 4px;
}

.optionboxitemselected
{
	border: 0px inset #fff;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #8B37A1;
	color: #9442A8;
	
	padding: 4px;
}

.optionboxitemhover
{
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
	
	border-bottom: 2px solid #666;
	color: #9442A8;
	
	padding: 4px;
}

.optionboxitemwrapper
{
	margin: 0px;
}

.standardbutton
{
	background-color: #68217A;
	color: #FFFFFF;
	border: 1px solid #68217A;
}

.standardbuttonhover
{
	background-color: #852A9C;
	border: 1px solid #852A9C;
}

.btn-link a
{
	color: #666;
}

.btn-link a:hover
{
	text-decoration: underline;
}
