﻿.item-title
{
	font-size:100%;
	font-weight:bold;
	padding-top:10px;
}
.item-spec-title
{
	font-size:20px;
	font-weight:bold;
	padding-top:10px;
}
.item-desc
{
	font-size:100%;
	height:30px;
	font-weight:normal;
	min-height: 36px;
}
.btn-margin-top
{
	margin-top:5px;
}
.image
{
	/*height:380px;*/
}
.text-bold
{
	font-weight: bold;
}

.text
{
	font-weight: normal;
}

.text-red
{
    color: Red;
}

/*#ads
{
	-moz-box-shadow: -1px 3px 5px #828282;
	-webkit-box-shadow: -1px 3px 5px #828282;
	box-shadow: -1px 3px 5px #828282;
}*/

/*img #zoom_03
{ width:350px;
  height:400px;
}*/


.features
{
    background: #CDDEEE;
    padding: 13px 10px;
    margin-bottom: 18px;
    margin-top: 20px;
}

.product_categories
{
    padding: 10px;
    background: #D6D6D6;
    width: 100%;
}

.show-link
{
    background: #BDBDBD;
    padding: 10px;
    text-align: right;
    border-radius: 0px 0px 4px 4px;
    margin-top: -61px;
    position: relative;
    opacity: 0.8;
}
.hide-link
{
}

.table-white
{
    background: #ffffff;
}

.img-border-radius
{
    border-radius: 4px 4px 0px 0px;
}



#zoom_03
{
    border: 0px solid #e8e8e6;
}

/*set a border on the images to prevent shifting*/
#gallery_01 img
{
    border: 1px solid #e8e8e6;
    width: 60px;
}
 
/*Change the colour*/
.active img
{
    border: 0px solid #333 !important;
}

#gallery_01 a:hover
{
    text-decoration: none;
}


/*----- Login -----*/
.login_content
{
    background: #004784;
    padding: 50px;
    border-radius: 4px;
    color: White;
    font-size: 14px;
    /*width: 280px;*/
    height: 260px;
    
    -webkit-box-shadow: rgb(41, 41, 41) 0px 5px 12px 0px;
    box-shadow: rgb(41, 41, 41) 0px 5px 12px 0px;
}

.login_content label
{
    font-weight: normal;
}

.login_content label.username
{
    font-size: 18px;
}

.login_content label.password
{
    font-size: 18px;
}

.login_content a
{
    color: White;
}

.login_content a:hover, .login_content a:focus
{
    color: White;
    cursor: pointer;
}

.btn-login {
    background-color: #808080 !important;
    border-color: #808080 !important;
}

.form-signin .create_account
{
    text-align: center;
    font-size: 14px;
}


/*----- Popup Modal -----*/
.display
{
    display: inline-block;
}

.hover-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #000000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    top: 0%;
}

.popup{
    position: fixed;
    background: #FFF;
    
    padding: 25px 15px;
    top: 25%;
    left: 50%;
    z-index: 1050;
    min-width: 370px;
    max-width: 420px;
    margin-left: -203px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.i-popup{
    position: fixed;
    background: #FFF;   
    padding: 25px 15px;
    top: 20%;
    left: 42%;
    z-index: 1050;
    margin-left: -203px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.imagepopupobject 
{
    cursor:pointer;
}

.g-list > li 
{
    border-bottom: 1px dashed gray;
    cursor:pointer;
}

.g-list > li:last-child 
{
    border-bottom : none;
}

.asterisk 
{
    color:Red;
}
.close-popup{
    position: absolute;
    background: black;
    color: white;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Arial Black', Arial, sans-serif;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
/*--------------------*/


.edit-links
{
    color: #505050 !important;
    text-decoration: underline;
}

#txtareaAddress
{
    max-height: 51px;
    max-width: 229px;
}


.loading-modal
{
    background-color: Transparent;
    border: 0px;
    border: 0px solid #999;
    border: 0px solid rgba(0, 0, 0, 0.3);
    *border: 0px solid #999;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.modal
{
    top: 25%;
    overflow: hidden;
    overflow-y: hidden;
}

.text-justify
{
    text-align: justify;
}


/*--- Responsive Image ---*/

@media (min-width: 240px) { /*--- Small Phone ---*/
    .responsive_img {
        height: 90px;
        width: 100%;
    }
}

@media (min-width: 320px) { /*--- Iphone ---*/
    .responsive_img {
        height: 115px;
        width: 100%;
    }
}

@media (min-width: 480px) { /*--- Small Tablet ---*/
    .responsive_img {
        height: 174px;
        width: 100%;
    }
}

@media (min-width: 768px) { /*--- Ipad - Portrait ---*/
    .responsive_img {
        height: 184px;
        width: 100%;
    }
}

@media (min-width: 1024px) { /*--- Ipad - Landscape ---*/
    .responsive_img {
        height: 140px;
        width: 100%;
    }
}

@media (min-width: 1200px) { /*--- Desktop ---*/
    .responsive_img {
        height: 115px;
        width: 100%;
    }
}
/*-------------------------*/


.mobileLogo
{
    position: fixed;
    z-index: 1;
    background-color: #e9e9e9;
}
#container
{
    z-index: 0;
}



.mobile-search-form-control
{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
@media (min-width: 240px) { /*--- Small Phone ---*/
    .mobile-search-form-control {
        width: 64%;
    }
}

@media (min-width: 320px) { /*--- Iphone ---*/
    .mobile-search-form-control {
        width: 74.9%;
    }
}

@media (min-width: 480px) { /*--- Small Tablet ---*/
    .mobile-search-form-control {
        width: 84%;
    }
}


/*---------- Images ---------*/
@media (min-width: 240px) { /*--- Small Phone ---*/
    .image {
	    height: 296px;
    }
}

@media (min-width: 320px) { /*--- Iphone ---*/
    .image {
	    height: 296px;
    }
}

@media (min-width: 480px) { /*--- Small Tablet ---*/
    .image {
	    height: 360px;
    }
}

@media (min-width: 768px) { /*--- Ipad - Portrait ---*/
    .image {
	    height: 375px;
    }
}

@media (min-width: 1024px) { /*--- Ipad - Landscape ---*/
    .image {
	    height: 320px;
    }
}

@media (min-width: 1200px) { /*--- Desktop ---*/
    .image {
	    height: 296px;
    }
}