﻿/*Sidebar*/

#topholder
{
    
}
#menuholder
{
    background-color: #092869;
}

.menuitem 
{
    border: 1px solid #092869;
    color: White;
    
}

.menuitemhover2
{
    border-bottom: 1px solid #2984CF;
    color: #DDDDDD;
}



.menuitemselected
{
    /*border: 1px inset #1C4191;*/
	/*color: #FFFFFF;*/
	
	text-shadow: 8px 5px #000000;

}

.menuitemselected2
{
    border-bottom: 1px solid #ddd;
}

.submenustyle a:hover
{
	border-bottom: 1px solid #f7941d;
	/*color:#DDDDDD;*/
}

.titleholderbg2
{
	background-color:#808080;
}

.standardbutton
{
    background-color:  #092869;
    color: #FFFFFF;
    border: 1px solid #092869;
}

.standardbuttonhover
{
    background-color:  #1357B0;
    border: 1px solid #1357B0;
}

.listheaderbg
{
	background-color:#DBD7EB;
}

.widgetheader span
{
    color: #F51111;
}

.linkbutton1
{
    color: #000000;
}

.logintitle1
{
	color: #092869;
}

.headertitle1
{
    color: #092869;
}

.headertitle2
{
    color: #092869;
}

.headertitle3
{
    color: #092869;
}

.headertitle4
{
    color: #092869;
}

.headertitle5
{
    color: #092869;
}

.headertitle
{
	color: #f7941d;
}

.title_color span
{
	color: #f7941d;
}

.title_color .btn-link:hover, .btn-link:focus
{
	color: #757676;
}

.link_color
{
	color: #f7941d;
}
